@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');
@font-face {
    font-family: clock;
    src: url(/assets/font/digital-7.ttf);
}
$mainColor: #e23556;
$darkColor: #151515;
$darkColor2: #202020;


*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}



body {
    background: white;
    color: white;
    transition: .4s all;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s all;
}

.adr {
    background: $darkColor2;
}


.layout {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock-div {
    width: 300px;
    height: 100px;
    background: $darkColor;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 6px;
    transition: 1s all;
}

.arr {
    background: $mainColor;
}

.clock-div::after {
    content: '';
    width: 100%;
    height: 10px;
    background: $mainColor;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px 6px 0 0;
}

#clock {
    font: {
        family:clock;
        size:4rem;
    }
    letter-spacing: 5px;
    user-select: none;
    width: 100%;
    text-align: center;
}

// Toggle Check Design

.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: .4s all;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: white;
    transition: .4s all;
    border-radius: 50px;
}

.switch input:checked + .slider::before {
    transform: translate(50px);
    background: $mainColor;
}
